
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
}

/* 캘린더 디자인 */
main .calendar{
    border: 1px solid #909090;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    margin: 1rem;
}
main .calendar > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .calendar > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .calendar .calendar_header{
    height: 5rem;
    justify-content: space-between;
}
main .calendar .calendar_header span{
    cursor: pointer;
    margin: 2.5rem;
}
main .calendar .calendar_weekdays > div{
    border: 1px solid #909090;
    width: calc(30rem / 7);
    height: calc(30rem / 7);
}
main .calendar .calendar_contents{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
main .calendar .calendar_contents > div{
    border: 1px solid #909090;
    height: calc(30rem / 7);
}