nav{
    width: 100%;
    height: 5rem;
    position: fixed;
    border-bottom: 1px solid #909090;
    padding: .5rem 1rem;
    top: 0;
    background-color: var(--body-background-color);
    z-index: 2;
}
nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
}

/* 버튼 컨테이너 */
nav .btns{
    position: relative;
    display: flex;
}
nav .btns > div{
    margin: .2rem;
}

/* 시작하기 버튼 */
nav .auth{
    border: 1px solid #909090;
    width: 5rem;
    height: 2rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 계정 설정 버튼 */
nav .account{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
nav .account button{
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}
nav .account button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* 계정 설정창 */
nav div.set-account{
    position: absolute;
    bottom: -9rem;
    right: .2rem;
    border: 1px solid #909090;
    width: 12rem;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
nav div.set-account.active{
    display: flex;
}
nav div.set-account > div{
    margin: .5rem;
    width: 7rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
nav div.set-account > div > button{
    border: 1px solid var(--primary-color);    
    border-radius: .3rem;
    width: 100%;
    height: 100%;
    font-size: .8rem;
    background-color: #fff;    
    color: var(--primary-color);
}
nav div.set-account > div > button:hover{
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* 통계 버튼 */
nav .stats{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
nav .account a span{
    font-size: 2rem;
}

/* 설정 버튼 */
nav .set-btn button{
    border: none;
    background: none;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
nav .set-btn button span{
    cursor: pointer;
    font-size: 2rem;
}
/* 설정 창 */
nav .setting{
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: -8rem;
    right: .5rem;
    border: 1px solid #909090;
    width: 12rem;
    padding: .5rem;
    background-color: #fff;
}
nav .setting.active{
    display: flex;
}
/* 모드 설정 */
nav .setting .mode{
    width: 100%;
    display: grid;
}
nav .setting .mode h3{
    grid-column: 1 / 3;
    font-size: 1.2rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgb(223, 220, 220);
}
nav .setting .mode > div{
    font-size: 1rem;
    border: 1px solid #909090;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 1rem;
}
nav .setting .mode > div span:nth-child(2){
    position: absolute;
    top: -.5rem;
    right: -1.5rem;
    color: var(--primary-color);
}
nav .setting .mode > div.active{
    border-color: var(--primary-color);
    color: var(--yellow-1);
}
nav .setting .mode div.dark-mode span:nth-child(2){
    display: none;
}